<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.websrv.theaterseat.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="com.websrv.theaterseat.dto.BoardDto">
        insert into board(content, m_idx, s_idx) values(#{content},#{m_idx},#{s_idx})
    </insert>

    <select id="selectAllBoard" parameterType="String" resultType="com.websrv.theaterseat.dto.BoardDto">
        select member.userId, board.content, board.m_idx from member, board where member.m_idx=board.m_idx and board.s_idx=#{s_idx}
    </select>

    <select id="isContentExist" parameterType="map" resultType="boolean">
        select count(board.content) from member, board where member.m_idx=board.m_idx and board.m_idx=${m_idx} and board.s_idx=#{s_idx}
    </select>

    <delete id="deleteBoard" parameterType="int">
        delete from board where b_idx=${b_idx}
    </delete>

</mapper>
