<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.websrv.theaterseat.model.MemberMapper">

    <select id="selectMemberList" parameterType="com.websrv.theaterseat.model.MemberDTO" resultType="com.websrv.theaterseat.model.MemberDTO">
        select * from member
    </select>

</mapper>
